.head{
    color: rgb(18, 180, 91);
}
.buterfly{
    color: rgb(192, 192, 27);
}
.stag-beetle{
    color: brown;
}
.ant{
    color: aqua;
}
.bee{
    color: green ;
}

.link{
    color: blueviolet;
}
#bee{
    color: aqua;
}